# Dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next/
out/

# Production
build/
dist/

# Testing
coverage/

# Misc
.DS_Store
*.pem

# Debug
.vscode/
.idea/

# Local env files
.env*.local
.env.development

# Git
.git
.gitignore

# Docs
README.md
DEPLOYMENT.md

# Build files
*.tsbuildinfo

