version: '3.8'

services:
  frontend:
    build:
      context: ..
      dockerfile: frontend/Dockerfile
      args:
        NEXT_PUBLIC_APP_URL: ${NEXT_PUBLIC_APP_URL}
        BACKEND_API_URL: ${BACKEND_API_URL}
        ORY_SDK_URL: ${ORY_SDK_URL}
    container_name: gate149-frontend
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - BACKEND_API_URL=${BACKEND_API_URL}
      - ORY_SDK_URL=${ORY_SDK_URL}
      - NEXT_PUBLIC_APP_URL=${NEXT_PUBLIC_APP_URL}
    networks:
      - gate149-network
      - infrastructure_gate_network  # сеть nginx (обычно это default/bridge)

networks:
  gate149-network:
    driver: bridge
  infrastructure_gate_network :
    external: true  # использовать существующую default сеть

