.thParticipant {
    padding-right: 40px !important;
}

.thOther {
    padding-left: 0 !important;
    padding-right: 0 !important;
}


.tdParticipant {
    padding-right: 40px !important;
}

.tdOther {
    padding-left: 0 !important;
    padding-right: 0 !important;
}