@keyframes slideDown {
  from {
    transform: translate(-50%, -100%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translate(-50%, 0);
    opacity: 1;
  }
  to {
    transform: translate(-50%, -100%);
    opacity: 0;
  }
}

.slideDown {
  animation: slideDown 0.3s ease-in-out forwards;
}

.slideUp {
  animation: slideUp 0.3s ease-in-out forwards;
}

